@import '../lib/blocks/variables.styl'

body, html
  padding 0
  margin 0
  height 100%
  
.writing
  -webkit-font-smoothing antialiased
  font 22px / 1.5 primaryFont
  letter-spacing 0.01rem
  width 640px
  margin 0 auto
  position relative
  left -80px
