@import 'variables.styl'

.notesList
  text-align right
  position absolute
  left 100%
  top 0
  width 300px
  margin-left 30px
  @media screen and (max-width: 700px)
    position static
    
  &-input
    display block
    width 100%
    border none
    font 16px / 20px secondaryFont
    height 80px
    transition all .3s ease
    resize none
    border-left 1px solid #999
    padding-left 14px
    margin-bottom 20px
    box-sizing border-box
    &_hidden
      height 0px
      opacity 0
      margin-bottom 0
    &:focus
      outline 0      
      
  &-sbmt
    display block
    width 160px
    height 40px
    font 14px / 40px secondaryFont
    color  white
    background black
    border-radius 5px
    text-align center
    box-sizing border-box
    margin -5px 0 20px
    transition all .1s ease
    border 1px solid black
    cursor pointer
    &_hidden
      pointer-events none
      opacity 0
      height 0
      margin 0
    &:hover
      opacity .8
      text-decoration underline
      
  &-input_hidden + &-sbmt
    display none
  
  &-counter
    position absolute
    font 16px / 20px secondaryFont
    color #000
    opacity .5
    transition all .2s ease
    transform translateX(-50px)  
    opacity 0
    transition all .3s ease
    transition-delay 0
    &:after
      content ' '
      margin-left 8px
      display inline-block
      height 17px
      width 17px
      background-size contain
      background-image url('/assets/comment.svg')
      background-repeat no-repeat
      position relative
      top 5px
      
  &_collapsed
    pointer-events none

  &_collapsed &-counter
    transform translateX(0)  
    opacity .7
    transition-delay .4s
    pointer-events auto
    &:hover
      opacity 1
      cursor pointer
  
  &_faded &-counter
    opacity 0
    pointer-events none
    transition-delay 0
    transition all .1s ease
